.container
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 5rem
  font-family: 'inter', sans-serif
  height: 80px


.menu
  nav
    ul
      display: flex
      list-style: none
      gap: 2rem
      li
        cursor: pointer
        text-decoration: none
        color: #818181
        font-size: 0.8rem
        font-weight: 600
        letter-spacing: 1px
        transition: 0.3s all ease 
        &:hover
          color: #444

  
.area_contato
  height: 100%
  display: flex
  cursor: pointer
  gap: 1rem
  align-items: center
  justify-content: center
  background: rgb(36,34,188)
  background: linear-gradient(0deg, rgba(36,34,188,1) 0%, rgba(17,15,86,1) 100%)
  padding: 0 1rem

  .info
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    gap: 0.3rem 
    #titulo
      font-size: 0.8rem
      font-weight: 500
      letter-spacing: 1px
      color: #fff
    #numero
      font-size: 0.9rem
      font-weight: 600
      letter-spacing: 1px
      color: #fff